footer {
  width: 80%;
  margin: 0 auto;
  background-color: #151414;
}

.footer {
  background-color: #151414;
  width: 100%;
  margin: 0 auto;
}

footer>p{
  font-size: 0.9em;
  font-weight: lighter;
  /* float:left; */
}

.icons>img {
  padding-top: 10px;
  padding-left: 20px;
  width: 32px;
  height: 32px;
  /* float:right; */
  position: relative;
  /* margin-left: 50%; */
  /* clear: both; */
}

.icons {
  /* float: right; */
}

.footerh {
  font-family: 'Kanit', 'sans-serif';
  letter-spacing: 4px;
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 20px;
}
