body {
  margin: 0;
}

nav {
  /* display: flex; */
  /* align-items: center; */
  background-color: #151414;
  width: 100%;
  height: 80px;
  /* justify-content: space-around; */
  /* flex: 1; */
}

nav>ul {
  width: 100%;
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav>ul>li>a {
  text-decoration: none;
  color: #e5e5e5;
  font-family: 'Kanit', 'sans-serif';
}

nav>ul>li {
  /* display: flex; */
  /* align-content:flex-start; */
  /* justify-content: center; */
}

a:hover {
  color: #FF8811;
}
