body {
  font-family: 'Kanit', 'sans-serif';
  background-color: #232121;
  color: #e5e5e5;
}

.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.3em;
}

p {
  font-size: 1.6em;
  text-align: center;
}

.images {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.images>img {
  margin-bottom: 15px;
}
