body {
  font-family: 'Kanit', 'sans-serif';
  background-color: #232121;
  color: #e5e5e5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}
